.cart-items-container, #cart, #cart-and-button {
  height: 100%;
}

#cart-scrollable {
  height: 67%;
  overflow-y: scroll;
}

.checkout-button-div {
  margin-top: 30px;
  display: flex;
  align-items: end;
  justify-content: right;
}

#empty-cart-div {
  padding: 50px;
  height: 60%;
  display: flex;
}

#empty-cart-div p {
  opacity: 70%;
  font-size: 13px;
}

@media screen and (max-height: 595px){
  #cart-scrollable {
    height: 57%;
    overflow-y: scroll;
  }
}

@media screen and (max-height: 460px){
  #cart-scrollable {
    height: 45%;
    overflow-y: scroll;
  }
}

@media screen and (max-height: 380px){
  #cart-scrollable {
    height: 33%;
    overflow-y: scroll;
  }
}