#checkout-header {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

#checkout-header a {
  font-size: 15px;
  color: rgb(55, 87, 87);
  cursor: pointer;
}

#checkout-header a:hover {
  text-decoration: underline;
}

.checkout-form-row {
  column-gap: 8px;
}

.checkout-form-container input {
  width: 100%;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

#total-div {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

#total-div p {
  opacity: 80%;
}

#total {
  padding-left: 6px;
  color: rgb(235, 27, 27);
}