#about-page {
  padding-bottom: 140px;
}

#about-title {
  font-size: 37px;
  font-weight: 600;
  color: rgb(47, 74, 74);
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.about-cards {
  padding-top: 27px;
  padding-bottom: 0px;
  width: 100%;
}

.about-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  padding: 15px;
}

.about-section-image {
  height: 170px;
  width: 170px;
}

#about1 {
  border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
}

#about2 {
  border-radius: 90% 50% 50% 60% / 50% 40% 60% 80%;
}

.about-section-title {
  font-size: 27px;
  font-weight: 500;
  color: rgb(55, 87, 87);
  text-transform: uppercase;
}

.about-section-info {
  display: flex;
  flex-direction: column;
}

.about-section-text {
  padding-left: 40px;
  padding-right: 40px;
  color: rgba(55, 87, 87, 0.685);
}

#about-tags {
  display: flex;
  width: max-content;
  margin: auto;
  margin-top: 40px;
}

.about-tag-div {
  width: 200px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px;
  border-color: rgb(38, 84, 74);
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 5px;
  opacity: 80%;
}

.about-tag-div img {
  height: 45px;
  width: 45px;
}

.about-tag-div p {
  align-self: center;
  justify-content: center;
  font-weight: 700;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(38, 84, 74);
}

@media screen and (max-width: 640px) {
  .about-section {
    flex-direction: column;
  }
  .about-section-image {
    margin: auto;
    margin-bottom: 15px;
  }
}

