#contact-page {
  background-color: rgba(223, 226, 226, 0.46);
  padding-top: 140px;
  padding-bottom: 140px;
  margin-top: 80px;
}

.sender-info-row {
  column-gap: 10px;
}

#contact-title {
  font-size: 26px;
  float: left;
  margin-left: 10px;
}

#message-form {
  width: 650px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#message-form input {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

#contact-info-div {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  padding: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
}

#location-icon-div img {
  margin-top: 48px;
}

#address-div {
  margin-left: 7px;
  margin-right: 10px;
}

#address-div p {
  text-align: left;
}

#company-title {
  font-size: 21px;
  font-weight: bold;
}

#phone-mail-div {
  margin-left: 40px;
  justify-content: flex-end;
}

.contact-link img {
  height: 27px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-link p {
  padding-top: 1px;
}

.sender-input {
  height: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#message-input {
  resize: none;
  border: none;
  height: 180px;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
}

#submit-button {
  float: right;
  margin-right: 10px;
  color: white;
  padding: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}

input:focus, textarea:focus {
  outline: none;
}

#socials-div img {
  height: 35px;
  width: 35px;
  float: right;
  margin-left: 4px;
  margin-right: 4px;
}

#submit-button {
  background-color: rgb(55, 87, 87);
}

.sender-info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


@media screen and (max-width: 650px) {
  #contact-info-div {
    display: flex;
    flex-direction: column;
  }
  #message-form {
    width: 100%;
  }
  #phone-mail-div {
    margin-left: 90px;
  }
}

@media screen and (max-width: 502px) {
  .sender-info-row {
    display: flex;
    flex-direction: column;
  }
  .sender-input {
    width: 100%;
  }
  .sender-input, textarea {
    margin-bottom: 10px;
  }
}




