.banner{
  width: 100%;
  opacity: 96%;
  background-color: rgba(55, 87, 87, 0.692);
}

#home-text {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(55, 87, 87, 0.692);
}

#tags {
  width: max-content;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 13px;
}

#tags, .tag-div {
  display: flex;
  flex-direction: row;
}

.tag-div {
  width: 190px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-left: 13px;
  margin-right: 13px;
  border: 3px;
  border-color: rgba(174, 168, 131, 0.516);
  border-radius: 3px;
}

.tag-div img {
  height: 38px;
  margin-right: 5px;
  opacity: 70%;
}

.tag-div p {
  padding-top: 7px;
  margin-bottom: 14px;
  color: rgba(174, 168, 131, 0.704);
}

#shop-button {
  justify-content: center;
  margin: auto;
  width: 190px;
}

#shop-button img {
  height: 25px;
  margin-left: 10px;
  padding-bottom: 2px;
  opacity: 90%;
}

#shop-link {
  text-decoration: none;
  font-size: 16px;
  margin-top: 15px;
  color: rgba(55, 87, 87, 0.692)
}

#shop-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  #banner {
    transition: 0s;
    visibility: hidden;
    height: 0px;
  }
}

@media screen and (min-width: 850px) {
  #vertical-banner {
    height: 0px;
    transition: 0s;
    visibility: hidden;
  }
}

@media screen and (max-width: 640px) {
  #tags {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .tag-div {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 640px) {
  #tags {
    margin-bottom: 12px;
  }
}