#banner, #vertical-banner {
  width: 100%;
  opacity: 96%;
}

#home-text {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: rgba(55, 87, 87, 0.79);
}

#shop-button {
  justify-content: center;
  padding-top: 12px;
  margin: auto;
  width: 190px;
}

#shop-button img {
  height: 25px;
  margin-left: 10px;
  padding-bottom: 2px;
  opacity: 80%;
}

#shop-link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 850px) {
  #banner {
    transition: 0s;
    visibility: hidden;
    height: 0px;
  }
}

@media screen and (min-width: 850px) {
  #vertical-banner {
    height: 0px;
    transition: 0s;
    visibility: hidden;
  }
}