#menu-div, #menu-items-div, #user-div {
  display: flex;
  flex-direction: row;
}

#menu-div {
  height: 80px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  z-index: 10000;
}

#logo {
  height: 100%;
  padding: 7px;
  position: relative;
  left: 20px;
}

#menu-items-div {
  position: relative;
  right: -400px;
}

#user-div {
  position: relative;
  right: -540px;
  padding-top: 18px;
}

.menu-item {
  margin: 25px;
  font-size: 21px;
  cursor: pointer;
}

.icon-menu-item {
  width: 22px;
  height: 22px;
  margin: 10px;
  cursor: pointer;
  opacity: 75%;
}