.modal-bg {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
}

.modal-container {
  width: max-content;
  margin: auto;
  height: 90%;
  padding: 30px;
  padding-top: 30px;
  border-radius: 3px;
  border: 3px;
  border-style: solid;
  border-color: rgb(132, 164, 164);
  overflow: hidden;
}

#items-modal {
  background-color: rgb(250, 248, 248);
}

.modal-close {
  border: none;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}

.modal-close img {
  float: right;
}

.title-container p {
  font-size: 1.35rem;
  padding-bottom: 20px;
}

.items-container {
  overflow-y: scroll;
  height: 85%;
}

.item {
  padding-left: 10px;
}

hr {
  margin: 10px;
}

.image-container img {
  height: 130px;
}

.item-info-container {
  width: 200px;
  align-items: first baseline;
  padding-left: 10px;
  padding-right: 10px;
}

.item-title {
  font-weight: 500;
  font-size: 0.9rem;
}

.item-author {
  font-size: 0.8rem;
}

.item-title, .item-author {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.item-price {
  color: rgba(235, 27, 27, 0.562);
  font-size: 0.9rem;
  position: relative;
  bottom: -70px;
}

.buttons-container {
  float: right;
  margin-left: 20px;
  padding-left: 20px;
}

.buttons-container img {
  height: 26px;
  margin: 3px;
  margin-top: 100px;
  margin-bottom: 0px;
  opacity: 60%;
}

.buttons-container img:hover {
  opacity: 100%;
}

.trash {
  padding-right: 10px;
}

@media screen and (max-width: 500px) {
  .wishlist-container {
    width: 100%;
    margin-top: 2rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .image-container img {
    height: 100px;
  }
  .buttons-container img {
    margin-top: 15px;
  }
  .item-price {
    bottom: -40px;
  }
}
