.App {
  text-align: center;
}

section {
  padding-top: 150px;
}

.section-title {
  font-size: 37px;
  font-weight: 500;
  color: rgb(47, 74, 74);
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  background-color: rgb(55, 87, 87);
  height: 50px;
  color: white;
  cursor: pointer;
}

#products, .cart-div, .cart-button p, .cart-button img, #shop-link, #shop-link img,
.footer-contact-link img, .footer-contact-link p, .footer-social-link, #submit-button {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
