.App {
  text-align: center;
}

section {
  padding-top: 150px;
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 37px;
  color: rgb(88, 22, 22);
  padding-bottom: 0px;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  background: rgb(88, 22, 22);
  display: block;
  height: 1px;
  width: 230px;
  margin: 20px auto 5px;
  margin-bottom: 25px;
}

#products, .cart-div, .cart-button, .cart-button p, .cart-button img, #shop-link, #shop-link img,
.footer-contact-link img, .footer-contact-link p, .footer-social-link, #submit-button {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
