.App {
  text-align: center;
}

section {
  padding-top: 150px;
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 37px;
  color: rgb(88, 22, 22);
  padding-bottom: 0px;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  background: rgb(88, 22, 22);
  display: block;
  height: 2px;
  width: 230px;
  margin: 20px auto 5px;
  margin-bottom: 25px;
}
